.App {
  margin: 30px auto;
  font-family: "Fira Sans", sans-serif;
  max-width: 621px;
  color: #5a6275;
}
.Weather {
  border: 4px solid #5a6275;
  display: block;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  margin: 30px -3px;
  padding: 50px 16px;
}
.Main-header {
  display: block;
  margin: 0 10px;
}
.Main-header .boxes {
  font-size: 25px;
  margin-bottom: 10px;
}
.Main-header .boxes-border {
  border: 4px solid #5a6275;
  margin-left: 10px;
}
.Main-header .beauty {
  width: 320px;
}
.Main-information {
  margin-left: 40px;
}
.Main-information h1 {
  font-weight: bold;
  font-size: 50px;
  margin-left: -4px;
}
.Main-information a {
  text-decoration: none;
  color: #5a6275;
}
.Main-information i:hover,
a:hover {
  color: #fba502;
}
.Main-information .main-information-header {
  font-size: 25px;
}
.Main-information .main-information-section {
  font-size: 14px;
}
.Main-information .margin-right {
  margin-right: 60px;
}
.Main-information .main-grade {
  font-weight: bold;
  font-size: 50px;
}
.Main-information .main-icon {
  width: 100px;
  padding-top: 40px;
}
@media (max-width: 375px) {
  .Main-header .beauty {
    width: 280px;
  }
}
