.App {
  margin: 30px auto;
  font-family: "Fira Sans", sans-serif;
  max-width: 621px;
  color: #5a6275;
}
.Weather {
  border: 4px solid #5a6275;
  display: block;
  margin: auto;
  padding: 40px 20px;
}
.box-shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.Main-header {
  display: block;
  margin: 0 5px;
  margin-bottom: 10px;
}
.Main-header .boxes {
  font-size: 25px;
}
.Main-header .boxes-border {
  border: 4px solid #5a6275;
  margin-left: 10px;
}
.Main-header .beauty {
  width: 320px;
}
.Main-information {
  margin-left: 40px;
}
.Main-information h1 {
  font-weight: bold;
  margin: 0px;
}
.App a {
  text-decoration: none;
  color: #5a6275;
}
.Footer i:hover,
a:hover {
  color: #fba502;
}
.main-information-section a:hover {
  color: #fba502;
}
.Main-information .main-information-header {
  font-size: 25px;
}
.Main-information .main-information-section {
  font-size: 14px;
}
.Main-information .margin-right {
  margin-right: 40px;
}
.Main-information .main-grade {
  font-weight: bold;
  font-size: 45px;
  margin-top: -10px;
}
.Main-information .main-icon {
  padding-top: 20px;
  margin-right: 10px;
}
.Footer {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.Footer i {
  font-size: 30px;
}
@media (max-width: 375px) {
  .Main-header .beauty {
    width: 280px;
  }
}
